<div class="user-details">
    <h1>About Me</h1>
    <p class="aboutme">개발자 신입으로 자바 웹 개발자 양성과정, 팀 프로젝트 등으로 언어에 대한 이해도를 높였고, 현재 취업을 꿈꾸고 있습니다.</p>
    <span>
    <ul class="aboutme2">
      <li>문제가 생겨도 그 상황 안에서 일을 진행할 수 있는 방향을 찾습니다.</li>
      <li>함께 정한 기한은 반드시 지키려고 노력합니다.</li>
      <li>호기심이 생겼을 때 그것에 대한 정보를 찾아보고 어떻게 사용할 수 있는지 조사를 합니다.</li>
      <li>시간이 오래 걸려도 결국엔 답을 찾고 싶어 합니다.</li>
      <li>문제를 해결하는 것이 즐겁습니다.</li>
    </ul>
  </span>
</div>
<style>
  .profile {
    display: flex;
    align-items: self-end;
    justify-content: space-around;
  }
  .profile-images {
    width: 30%;
    margin-right: 20px; /* 간격 조정 */
  }
  .profile-img{
    width: 240px;
    height: 320px;
  }
  .profile-info {
    width: 70%;
    align-items: center;
    text-align: left;
    padding: 20px;
  }
  hr {
  height: 2px; /* 두께 설정 */
  background-color: #000; /* 색상 설정 */
  border: none; /* 기본 테두리 제거 */
  }
  .container-skill {
    display: flex;
    justify-content: space-around;
  }
  .container-skill-all{
    text-align: center;
    margin: 0 10px;
  }
  .skills-box{
    width: 50%;
    font-size: 14px;
    text-align: left;
  }
  .skills-header{
    display: flex;
    justify-content: space-between;
    align-items: self-end;
  }
  .skill-name{
    text-align: left;
    font-weight: bold;
  }
</style>

<div class="user-details">
  <h1 style="text-align: left;">About Me</h1>
    <div>

    </div>
    <hr/>
  <div class="profile">
    <div class="profile-images">
      
      <img src="https://github.com/user-attachments/assets/40543db1-6c57-4263-a8f2-756b758fa3a8" alt="Profile Picture" class="profile-img">
    </div>
    <div class="profile-info">
      <h1 style="font-size: 2.5em; font-weight: bold; margin-bottom: 10px;">이수현</h1>
      <p style="font-size: 1.1em; line-height: 1.6; margin-bottom: 15px;">
        <div class="user-projects">
    <div class="contents-edu">
        <h3> License and Certificate </h3>
        <ul>
            <li> 정보처리기사</li>
            <li> 한국사능력검정시험 1급</li>
            <li> TOEIC SPEAKING IH</li>
            <li> 자동차운전면허증(2종 보통)</li>
        </ul>
    </div>
</div>
      </p>
      <p style="font-weight: bold; margin-top: 15px;">📧 Email: 
        <a href="mailto:wlstjq447@naver.com" style="text-decoration: none; color: #0073e6;">
          a94460093@gmail.com
        </a>
      </p>
      <p style="font-weight: bold;">🔗 GitHub: 
        <a href="https://github.com/lshyunee" target="_blank" style="color: #333;">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i> Suhyun Lee
        </a>
      </p>
    </div>
    
  </div>
</div>
  <div class="user" >
    <div class="skills-header">
      <div>
    <h1>기술 스택</h1>
    <p style="font-size: 0.8rem;"> 지금까지 공부해온 기술들을 활용 능력과 경험을 바탕으로 색상으로 표현하였습니다.</p>
  </div>
    <div>
      <p style="font-size: 0.8rem;"><span style="color: #4caf50;">●</span>    프로젝트에 간단한 적용 경험 / 기본적인 문법 이해 (하)</p>
      <p style="font-size: 0.8rem;"><span style="color: #ff8c20;">●</span>    동작 원리 이해, 프로젝트에 응용 가능  (중)</p>
      <p style="font-size: 0.8rem;"><span style="color: #fc4d4d;">●</span>    다수의 프로젝트 경험, 효율적 활용 가능 (상)</p>
    </div>
    </div>
    <hr/>
    <div class="container-skill-all">
      
    <div class="container-skill">
      <div class="skills-box">
        <h4 style="font-weight: bold;">Backend</h4>
        <div class="skill-name">
        <li><span style="color: #4caf50;">Spring</span> / <span style="color: #fc4d4d; font-size: 18px;">Spring Boot</span></li>
        <li><span style="color: #ff8c20; font-size: 18px;">Spring Data Jpa</span> / <span style="color: #4caf50;">My Batis</span></li>
        </div>
      </div>
      <div class="skills-box">
        <h4 style="font-weight: bold;">programming Languages</h4>
        <div class="skill-name">
        <li style="color: #ff8c20;  font-size: 18px;">Java</li>
        <li style="color: #4caf50;">Python</li>
        <li style="color: #4caf50;">JavaScript</li>
      </div>
      </div>
 
    </div>
    <div class="container-skill">
      <div class="skills-box">
        <h4 style="font-weight: bold;">Deployment / OS</h4>
        <div class="skill-name">
        <li><span style="color: #ff8c20; font-size: 18px;">Docker</span> / <span style="color: #ff8c20; font-size: 18px;">Docker Compose</span></li>
        <li><span style="color: #4caf50;">AWS EC2</span> / <span style="color: #4caf50;">Ubuntu</span></li>
        <li><span style="color: #4caf50;">Jenkins</span></li>
      </div>
      </div>
      <div class="skills-box">
        <h4 style="font-weight: bold;">DB / Cache</h4>
        <div class="skill-name">
        <li><span style="color: #ff8c20; font-size: 18px;">MySQL</span> / <span style="color: #4caf50;">postgres</span></li>
        <li><span style="color: #4caf50;">Redis</span> / <span style="color: #4caf50;">ElasticSearch & Logstash</span></li>
      </div>
    </div>
    </div>

    <div class="container-skill">
      <div class="skills-box">
        <h4 style="font-weight: bold;">Collaborations</h4>
        <div class="skill-name">
        <li><span>GitHub</span> / <span>GitLab</span></li>
        <li><span>Notion</span> / <span>Jira</span></li>
      </div>
      </div>
      <div class="skills-box">
        <h4 style="font-weight: bold;">Tools</h4>
        <div class="skill-name">
        <li><span>Intelij</span> / <span>Eclipse</span></li>
        <li><span>VSCode</span> / <span>WebStorm</span></li>
      </div>
      </div>
  
    </div>

      
    </div>
    </div>
  </div>

</div>
