<div class="user-details">
    <h1>About Me</h1>
    <p class="aboutme">개발자 신입으로 자바 웹 개발자 양성과정, 팀 프로젝트 등으로 언어에 대한 이해도를 높였고, 현재 취업을 꿈꾸고 있습니다.</p>
    <span>
    <ul class="aboutme2">
      <li>문제가 생겨도 그 상황 안에서 일을 진행할 수 있는 방향을 찾습니다.</li>
      <li>함께 정한 기한은 반드시 지키려고 노력합니다.</li>
      <li>호기심이 생겼을 때 그것에 대한 정보를 찾아보고 어떻게 사용할 수 있는지 조사를 합니다.</li>
      <li>시간이 오래 걸려도 결국엔 답을 찾고 싶어 합니다.</li>
      <li>문제를 해결하는 것이 즐겁습니다.</li>
    </ul>
  </span>
</div>
<div class="user-projects">
    <div class="contents-edu">
        <h3> Education </h3>
        <ul>
            <li> 대구대학교 경제금융학부 (2018.02 ~ 2023.02)</li>
        </ul>
    </div>
</div>
<div class="user-projects">
    <div class="contents-edu">
        <h3> License and Certificate </h3>
        <ul>
            <li> 정보처리기사</li>
            <li> 한국사능력검정시험 1급</li>
            <li> TOEIC SPEAKING IH</li>
            <li> 자동차운전면허증(2종 보통)</li>
        </ul>
    </div>
</div>

<div class="user">
    <div class="tech">
        <h2>front-end</h2>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/html-5--v1.png" alt="html-5--v1"/>
            <p class="hover_text">HTML5</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/css3.png" alt="css3"/>
            <p class="hover_text" style="color:rgb(241, 240, 124)">CSS3</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/ios-filled/100/jquery.png" alt="jquery"/>
            <p class="hover_text" style="color:rgb(241, 240, 124)">Jquery</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/24/external-vuejs-an-open-source-javascript-framework-for-building-user-interfaces-and-single-page-applications-logo-shadow-tal-revivo.png" alt="vue"/>
            <p class="hover_text">Vue</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/javascript--v1.png" alt="javascript--v1"/>
            <p class="hover_text_long">JavaScript</p></a>
        <p>역량의 전문성에 따라 <span style="color:blue">상</span><span> · </span><span
                style="color:rgb(241, 240, 124)">중</span><span> · </span><span style="color:red">하</span> 수준으로 분류하였습니다.
        </p>
    </div>
    <div class="tech">
        <h2>Back-end</h2>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/java-coffee-cup-logo--v1.png"
                 alt="java-coffee-cup-logo--v1"/>
            <p class="hover_text">JAVA</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/spring-logo.png" alt="spring-logo"/>
            <p class="hover_text">Spring</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/officel/16/spring-logo.png" alt="springboot"/>
            <p class="hover_text">SpringBoot</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/ios-filled/100/jsp.png" alt="jsp"/>
            <p class="hover_text" style="color:rgb(241, 240, 124)">JSP</p></a>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/officel/80/java-eclipse.png" alt="java-eclipse"/>
            <p class="hover_text" style="color:black">eclipse</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/fluency/96/visual-studio-code-2019.png"
                 alt="visual-studio-code-2019"/>
            <p class="hover_text_long" style="color:black">visual-studio</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/spring-logo.png" alt="spring-logo"/>
            <p class="hover_text" style="color:black">spring</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/48/intellij-idea.png" alt="intellij-logo"/>
            <p class="hover_text" style="color:black">IntelliJ</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/48/webstorm.png" alt="webstorm-logo"/>
            <p class="hover_text" style="color:black">WebStorm</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/tomcat.png" alt="tomcat"/>
            <p class="hover_text" style="color:black">tomcat</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/color/96/oracle-logo.png" alt="oracle-logo"/>
            <p class="hover_text" style="color:black">oracle</p></a>
        <a href="#;" class="banner_img">
            <img width="100" height="75" src=".\assets\img\SqlDeveloper.png" alt="SqlDeveloper">
            <p class="hover_text_long" style="color:black">SqlDeveloper</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75" src="https://img.icons8.com/ios/50/mybatis.png" alt="mybatis-logo"/>
            <p class="hover_text" style="color:black">MyBatis</p></a>
        <a href="#;" class="banner_img">
            <img width="100" height="75" src="https://img.icons8.com/ios/50/mysql-logo.png" alt="mysql">
            <p class="hover_text_long" style="color:black">MySql</p></a>
        <a href="#;" class="banner_img">
            <img width="75" height="75"
                 src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/96/external-github-with-cat-logo-an-online-community-for-software-development-logo-shadow-tal-revivo.png"
                 alt="external-github-with-cat-logo-an-online-community-for-software-development-logo-shadow-tal-revivo"/>
            <p class="hover_text" style="color:black">Git</p></a>
    </div>
</div>
