<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">개발자 이수현의 포트폴리오입니다.</span>
        
      </h1>
      <div class="header-icons">
        {% if site.email %}
        <a aria-label="Send email" href="mailto:a94460093@gmail.com"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.linkedin_username %}
        <a aria-label="My LinkedIn" target="_blank" href="https://fake-whiteboy.tistory.com/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/lshyunee?tab=repositories/"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
