<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <img style="width: 400px" alt="bunt"
             src="https://github.com/dev-prao/BUNT/assets/147044110/629d6f85-5ae3-4e99-91a3-c8e4df87a3de"/>
    </div>
    <div class="contents-right">
        <h3> Bunt </h3>
        <p>야구 입문 플랫폼(2인)</p>
        <p>높아지는 KBO의 인기와 함께 야구에 입문하는 야린이들을 위한 응원가, 뉴스, 게시판, 실시간 채팅, 미니게임을 제공하는 플랫폼</p>
        <a class="project-link" href="https://github.com/dev-prao/BUNT.git">Check it out</a>
    </div>
</div>
<br>
<div class="user-projects">
    <div class="images-right">
        <img style="width: 400px" alt="crunky"
             src="https://github.com/lshyunee/Movie-web-project/assets/147044110/086de414-8602-4e64-854b-edce36ced395"/>
    </div>
    <div class="contents">
        <h3> Movie Crunky </h3>
        <p>영화 정보 제공 웹 사이트 팀 프로젝트(4인)</p>
        <p>프로젝트 진행 기간 (2022.11.18 ~ 2022.12.06)</p>
        <a class="project-link" href="https://github.com/lshyunee/Movie-web-project.git">Check it out</a>
    </div>
</div>
<br>
<div class="user-projects">
    <div class="images-left">
        <img style="width: 400px" alt="solo en casa"
             src="https://github.com/lshyunee/Spring-Quiz-miniproject/assets/147044110/39fa2421-efaa-41a7-8c18-22af6c2cc396"/>
    </div>
    <div class="contents-right">
        <h3> Solo en casa </h3>
        <p>퀴즈 웹 사이트</p>
        <p>혼자서 하기 힘든 게임들을 혼자서 즐길 수 있게 만든 웹사이트</p>
        <a class="project-link" href="https://github.com/lshyunee/Spring-Quiz-miniproject.git">Check it out</a>
    </div>
</div>