<div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img style="width: 400px" alt="crunky" src="https://github.com/lshyunee/Movie-web-project/assets/147044110/8381a3b5-9a73-44d8-92a4-4e9ca90503bd" />
    </div>
    <div class="contents">
      <h3> Movie Crunky </h3>
      <p>영화 정보 제공 웹사이트 팀 프로젝트(4인)</p>
      <p>프로젝트 진행 기간 (2022.11.18 ~ 2022.12.06)</p>
      <a class="project-link" href="https://github.com/lshyunee/Movie-web-project.git">Check it out</a>
    </div>
  </div>
  
  <!-- <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="" />
    </div>
    <div class="contents-right">
      <h3> Project Title </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div> -->